<div class="wrapper">
  <div class="container-fluid">
    <h1 *ngIf="dateIsToday">Appointment of Today</h1>
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Task For The Of At</p>
      </div>
    </div>
  </div>
  <div class="task-details-container">
    <div class="task-to-do-container">
      <div class="task-to-do"></div>
    </div>
    <div class="task-done-container">
      <div class="task-done"></div>
    </div>
  </div>
</div>
