.wrapper {
  margin: 20px;
}
.task-details-container {
  width: 100%;
  height: 450px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.task-to-do-container,
.task-done-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-to-do,
.task-done {
  width: 90%;
  height: 90%;
  background-color: red;
}
