.preference {
  cursor: pointer;
}

.wrapper {
  margin: 20px;
}
.search-container {
  width: 100%;
  height: 80px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  margin-bottom: 20px;
}
