<div class="wrapper">
  <div class="container-fluid" *ngIf="listServices.length > 0">
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Service List Preference</p>
      </div>
      <div class="card-body">
        <div
          class="table-responsive table mt-2"
          id="dataTable"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th>Service</th>
                <th>Duration</th>
                <th>Price</th>
                <th>type</th>
                <th>Preference</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of listServices">
                <td>{{ service.name }}</td>
                <td>{{ service.duration }} minutes</td>
                <td>{{ service.price }} Ar</td>
                <td *ngIf="service.type == 'special offer'">Special Offer</td>
                <td *ngIf="service.type == 'default'">Default</td>

                <td
                  class="preference"
                  *ngIf="isAmongPreference(service._id, 'service')"
                  (click)="deletePreference(service._id, 'service')"
                >
                  <i class="fas fa-star" style="color: #ffd43b"></i>
                </td>
                <td
                  class="preference"
                  *ngIf="!isAmongPreference(service._id, 'service')"
                  (click)="addPreference(service._id, 'service')"
                >
                  <i class="far fa-star" style="color: #d8dadf"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="listServices.length == 0">
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Service List</p>
      </div>
      <div class="card-body">
        <div
          class="table-responsive table mt-2"
          id="dataTable"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th>Service</th>
                <th>Duration</th>
                <th>Price</th>
                <th>type</th>
                <th>Preference</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5">No service yet</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="listEmployee.length > 0">
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Employee Preference</p>
      </div>
      <div class="card-body">
        <div
          class="table-responsive table mt-2"
          id="dataTable"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Preference status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of listEmployee">
                <td>{{ employee.name }}</td>
                <td
                  class="preference"
                  *ngIf="isAmongPreference(employee._id, 'employee')"
                  (click)="deletePreference(employee._id, 'employee')"
                >
                  <i class="fas fa-star" style="color: #ffd43b"></i>
                </td>
                <td
                  class="preference"
                  *ngIf="!isAmongPreference(employee._id, 'employee')"
                  (click)="addPreference(employee._id, 'employee')"
                >
                  <i class="far fa-star" style="color: #d8dadf"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="listEmployee.length == 0">
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Employee List Preference</p>
      </div>
      <div class="card-body">
        <div
          class="table-responsive table mt-2"
          id="dataTable"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Preference status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">No employee yet</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
