.navbar{
    position:sticky;
    top: 0;
    height: 70px;
    max-height: 70px;
    z-index: 10;

}
.dropdown-menu{
    z-index: 10;
}
.no-notif{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}