<nav
  class="navbar navbar-light navbar-expand bg-white shadow topbar static-top"
>
  <div class="container-fluid">
    <button
      class="btn btn-link d-md-none rounded-circle me-3"
      id="sidebarToggleTop"
      type="button"
    >
      <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav flex-nowrap ms-auto">
      <li class="nav-item dropdown d-sm-none no-arrow">
        <a
          class="dropdown-toggle nav-link"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          href="#"
          ><i class="fas fa-search"></i
        ></a>
        <div
          class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
          aria-labelledby="searchDropdown"
        >
          <form class="me-auto navbar-search w-100">
            <div class="input-group">
              <input
                class="bg-light form-control border-0 small"
                type="text"
                placeholder="Search for ..."
              />
              <div class="input-group-append">
                <button class="btn btn-primary py-0" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1" *ngIf="isUser">
        <div class="nav-item dropdown no-arrow">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-bs-toggle="dropdown"
          >
            <span
              class="badge bg-danger badge-counter"
              *ngIf="notificationArray.length > 0"
              >{{ notificationArray.length }}</span
            >
            <i class="fas fa-bell fa-fw"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
          >
            <h6 class="dropdown-header">Alerts</h6>
            <div class="no-notif" *ngIf="notificationArray.length == 0">
              <span class="large text-gray-500">No notification</span>
            </div>
            <div *ngIf="notificationArray.length > 0">
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink="/home/bookAppointment/{{ notif._id }}"
                ariaCurrentWhenActive="page"
                *ngFor="let notif of notificationArray"
              >
                <div class="me-3">
                  <div class="bg-primary icon-circle">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <span class="small text-gray-500"
                    >Special Offer : {{ notif.name }}
                  </span>
                  <p>{{ notif.price }} Ar</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1" *ngIf="isUser">
        <div class="nav-item dropdown no-arrow">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            href="#"
          >
            <span
              class="badge bg-danger badge-counter"
              *ngIf="closeAppointmentArray.length > 0"
              >{{ closeAppointmentArray.length }}</span
            >
            <i class="fas fa-envelope fa-fw"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
          >
            <h6 class="dropdown-header">Close Appointment</h6>
            <div class="no-notif" *ngIf="closeAppointmentArray.length == 0">
              <span class="large text-gray-500">No close appointment(s)</span>
            </div>
            <div *ngIf="closeAppointmentArray.length > 0">
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink=""
                ariaCurrentWhenActive="page"
                *ngFor="let appointment of closeAppointmentArray"
              >
                <div class="me-3">
                  <div class="bg-primary icon-circle">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <span class="small text-gray-500"
                    >Your appointment for the service :
                    {{ appointment.serviceDetails[0].name }} is soon</span
                  >
                  <p>1 day left</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="shadow dropdown-list dropdown-menu dropdown-menu-end"
          aria-labelledby="alertsDropdown"
        ></div>
      </li>
      <div class="d-none d-sm-block topbar-divider"></div>
      <li class="nav-item dropdown no-arrow">
        <div class="nav-item dropdown no-arrow">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            href="#"
            ><span class="d-none d-lg-inline me-2 text-gray-600 small"></span
            ><img
              class="border rounded-circle img-profile"
              src="assets/img/avatars/avatar1.jpeg"
          /></a>
          <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
            <a class="dropdown-item" href="#"
              ><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i
              >&nbsp;Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i
              >&nbsp;Logout</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
