
<div class="wrapper">
    <div class="search-container">
        <form
            class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
            [formGroup]="searchForm"
            (ngSubmit)="search()"
        >
            <div class="input-group">
            <input
                formControlName="search"
                class="bg-light form-control border-1 small"
                type="date"
                required
            /><button class="btn btn-primary py-0" type="button" (click)="search()">
                <i class="fas fa-search"></i>
            </button>
            </div>
        </form>
    </div>
    <div class="container-fluid" *ngIf="listAppointment.length>0">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Your Appointment</p>
            </div>        
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Employee</th>
                                <th>Start</th>
                                <th>End</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointment of listAppointment">
                                <td>{{appointment.service}}</td>
                                <td>{{appointment.employee}}</td>
                                <td>{{formatDate(appointment.start)}} </td>
                                <td>{{formatDate(appointment.end)}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="listAppointment.length==0">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Your Appointment List</p>
            </div>        
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Duration</th>
                                <th>Price</th>
                                <th>type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td colspan="4">No appointment yet</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>