.date-picker-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-picker-wrapper{
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #bababa;
    max-width: 643px;
}
.not-available{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;       
    flex-direction: column;
    border: 1px solid #bababa;
    max-width: 643px;
}

.choose-monthYear{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.monthYear{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.day-name-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;

}
.day-name{
    width:14.28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day-of-month-container{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.day-of-month-wrapper{
    width: 100%;
    height: 100%;
}
.day-of-month{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day-of-month:hover{
    background-color: #4e73df;
    color: #f0f0f0;
    cursor: pointer;
}
.day-of-month-disabled{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.day-of-month-clicked{
    width: 100%;
    height: 100%;
    background-color: #4e73df;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}