<div class="date-picker-center">
    <div class="not-available w-100" *ngIf="service==''||employee==''">
        <p>Choose service and employee first</p>
    </div>
    <div class="date-picker-wrapper w-100" *ngIf="service!=''">
        <div class="choose-monthYear">
            <div class="monthYear">
                <div class="switch-down-month" (click)="switchMonth(false)">
                    <i class="fas fa-arrow-left fa-lg text-primary" ></i>
                </div>
                <b>{{monthName}}</b>
                <div class="switch-up-month" (click)="switchMonth(true)">
                    <i class="fas fa-arrow-right fa-lg text-primary"></i>
                </div>
                <div class="switch-down-year" (click)="switchYear(false)">
                    <i class="fas fa-arrow-left fa-lg text-primary" ></i>
                </div>
                <b>{{year}}</b>
                <div class="switch-up-year" (click)="switchYear(true)">
                    <i class="fas fa-arrow-right fa-lg text-primary"></i>
                </div>
            </div>
        </div>
        <div class="day-name-container">
            <div class="day-name" *ngFor="let dayName of dayNameOfTheWeek">
                <p>{{dayName}}</p>
            </div>
        </div>
        <div class="day-of-month-container">
            <div class="day-of-month-wrapper" *ngFor="let day of arrayOfDispositionOfDay">
                <div class="day-of-month" *ngIf="day!=''&&!isDateInsideUnavailableDate(day)&&!isDateSelected(day)&&!infToToday(day)" (click)="setDateSelected(day)">
                    <p>
                        {{day}}
                    </p>
                </div>

                <div class="day-of-month-clicked" *ngIf="day!=''&&!isDateInsideUnavailableDate(day)&&isDateSelected(day)">
                    <p>
                        {{day}}
                    </p>
                </div>

                <div class="day-of-month-disabled" *ngIf="(day!=''&&isDateInsideUnavailableDate(day))||infToToday(day)">
                    <p>
                        {{day}}
                    </p>
                </div>
                <div class="day-of-month-disabled" *ngIf="day==''">
                    <p>
                        {{day}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
