.wrapper{
    position: relative;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.50) 0px 10px 20px;
    border-radius: 20px ;
}
.container{
    position: relative;
    z-index: 2;
}
.illustration-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.illustration{
    width: 100%;
    height: 100%;
    position: absolute;
}
.illustration-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beauty-text{
    text-align: center;
    font-size: 60px;
    color: #fafafa;
    text-shadow:  1px 1px 2px rgb(40, 40, 40);
    font-weight: bold;
    margin:0;
    line-height: 1;
}
.salon-text{
    text-align: center;
    font-size: 37px;
    color: #fafafa;
    text-shadow:  1px 2px 2px rgb(40, 40, 40);
    font-weight: bold;
    margin:0;
}
.dark-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 4;
    left: 0;
    top: 0;
}
.beauty-salon-text-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}
.background-image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    object-fit: cover;
}