
<div class="wrapper">
    <div class="illustration-container">
            <div class="illustration">
                <img src="/assets/img/illustration.jpg" alt="" class="illustration-image">
            </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="position-relative flex-grow-1 bg-login-image" >
                                    <img src="/assets/img/beauty-salon.jpg" alt="background" class="background-image">
                                    <div class="dark-layer"></div>
                                    <div class="beauty-salon-text-container d-flex justify-content-center align-items-center flex-column">
                                        <p class="beauty-text">BEAUTY </p>
                                        <p class="salon-text">SALON</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <div *ngIf="errorWhileLogging" class="alert alert-danger" role="alert">
                                        Email or password incorrect
                                    </div>
                                    <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
                                        <div class="mb-3"><input formControlName="email" class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div>
                                        <div class="mb-3"><input formControlName="password" class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100 d-flex justify-content-center align-items-center" style="height: 45px;" type="submit" ng-click="login()">
                                            <div *ngIf="isLogging===false">
                                                Login
                                            </div>
                                            <div *ngIf="isLogging===true">
                                                <div class="spinner-border text-light" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </button>
                                    </form>
                                    <div class="text-center"><a class="small" routerLink="/forgot-password" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

