.book-appointment-container{
    width: 100%;
    height: 100%;
    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.service-price{
    background-color: red;
}
.paypal{
    width: 30px;
    height: 30px;
}
.btn-sm{
    width: 300px;
    height: 50px;
}