<div class="book-appointment-container">
  <div class="create-appointment" *ngIf="!isPayment">
    <h3 class="text-dark mb-4">Book An Appointment</h3>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Benefit our service</p>
      </div>
      <div class="card-body">
        <form [formGroup]="appointmentForm" (ngSubmit)="addAppointmentInList()">
          <div class="mb-3">
            <div
              class="no-appointments-added"
              *ngIf="validationErrors.service != null"
            >
              <div class="alert alert-danger" role="alert">
                {{ validationErrors.service }}
              </div>
            </div>
            <label class="form-label" for="service"
              ><strong>Choose service</strong></label
            >
            <div *ngIf="isSpecialOffer" style="margin: 10px">
              <p>
                <i class="fas fa-star" style="color: #ffd43b"></i> Special Offer
              </p>
            </div>
            <div *ngIf="isPreferedService" style="margin: 10px">
              <p>
                <i class="fas fa-star" style="color: #ffd43b"></i> Prefered
                Service
              </p>
            </div>
            <select
              formControlName="service"
              class="form-select"
              aria-label="Default select example"
              required
              (change)="updateIsSpecialOffer()"
              (change)="
                this.checkIfPreference(
                  this.appointmentForm.get('service')?.value,
                  'service'
                )
              "
            >
              <option
                *ngFor="let service of listServices"
                value="{{ service._id }}"
                class="service-option"
              >
                {{ service.name }} - {{ service.price }}Ar -
                {{ service.duration }} minutes
              </option>
            </select>
          </div>
          <div class="mb-3">
            <div
              class="no-appointments-added"
              *ngIf="validationErrors.employee != null"
            >
              <div class="alert alert-danger" role="alert">
                {{ validationErrors.employee }}
              </div>
            </div>
            <label class="form-label" for="employee"
              ><strong>Choose employee</strong></label
            >
            <div *ngIf="isPreferedEmployee" style="margin: 10px">
              <p>
                <i class="fas fa-star" style="color: #ffd43b"></i> Prefered
                Employee
              </p>
            </div>
            <select
              formControlName="employee"
              class="form-select"
              aria-label="Default select example"
              required
              (change)="
                this.checkIfPreference(
                  this.appointmentForm.get('employee')?.value,
                  'employee'
                )
              "
            >
              <option
                *ngFor="let employee of listEmployees"
                value="{{ employee._id }}"
              >
                {{ employee.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <div
              class="no-appointments-added"
              *ngIf="validationErrors.date != null"
            >
              <div class="alert alert-danger" role="alert">
                {{ validationErrors.date }}
              </div>
            </div>
            <label class="form-label" for="date"
              ><strong>Choose date</strong></label
            >
            <app-custom-date-picker
              (refreshSelectedDate)="updateSelectedDate($event)"
              (refreshAvailableHourSlice)="updateListAvailableSliceHour($event)"
              (refreshAvailableHourSlice)="updateListAvailableSliceHour($event)"
              service="{{ appointmentForm.get('service')?.value }}"
              employee="{{ appointmentForm.get('employee')?.value }}"
            ></app-custom-date-picker>
          </div>
          <div
            class="alert alert-primary"
            role="alert"
            *ngFor="let availableHour of listAvailableSliceHour"
          >
            Available hour: {{ availableHour.start }} - {{ availableHour.end }}
          </div>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="getCurrentServiceDuration() != null"
          >
            Service duration : {{ getCurrentServiceDuration() }} minutes
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorInSliceHour">
            You must choose hour inside available hours and the appointment
            duration must be {{ getCurrentServiceDuration() }} minutes
          </div>
          <div class="row">
            <div
              class="no-appointments-added"
              *ngIf="validationErrors.startHour != null"
            >
              <div class="alert alert-danger" role="alert">
                start hour and end hour are required
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="startHour">
                  <strong>Start hour</strong>
                </label>
                <input
                  formControlName="startHour"
                  class="form-control"
                  type="time"
                  id="startHour"
                  name="startHour"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="endHour">
                  <strong>End hour</strong>
                </label>
                <input
                  formControlName="endHour"
                  class="form-control"
                  type="time"
                  id="endHour"
                  name="endHour"
                  required
                />
              </div>
            </div>
          </div>
          <div class="mb-3">
            <button
              class="btn btn-primary btn-sm"
              type="submit"
              (click)="goToPayment()"
            >
              Add&nbsp;appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="payment" *ngIf="isPayment">
    <h3 class="text-dark mb-4">Your Appointment</h3>
    <div
      *ngIf="errorWhileAddingAppointment"
      class="alert alert-danger"
      role="alert"
    >
      Error while adding Appointment
    </div>
    <div class="alert alert-light" role="alert">
      Service : {{ getCurrentService()?.name }} -
      {{ getCurrentService()?.duration }} minutes
    </div>
    <div class="alert alert-light" role="alert">
      Employee : {{ getCurrentEmployee()?.name }}
    </div>
    <div class="alert alert-light" role="alert">
      Date : {{ selectedDate }} => {{ appointmentForm.value?.startHour }} -
      {{ appointmentForm.value?.endHour }}
    </div>
    <div class="alert alert-warning" role="alert">
      <b>Price : {{ getCurrentService()?.price }} Ar </b>
    </div>
    <div class="mb-3">
      <button
        class="btn btn-secondary btn-sm"
        type="submit"
        (click)="addAppointmentInList()"
      >
        <div *ngIf="isLoading === false">
          <img src="assets/img/paypal.png" alt="paypal" class="paypal" />
          Pay and Validate Appointment
        </div>
        <div *ngIf="isLoading === true">
          <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
