.sidebar-brand-text{
    transform: scale(0.75);
    opacity: 0;
    filter: blur(4px);
    animation: scaleAndFade 2.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.sidebar-brand-icon{
    transform: scale(0.75);
    opacity: 0;
    filter: blur(4px);
    animation: scaleAndFade 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scaleAndFade {
    100% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0);
    }
  }
