<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(78, 115, 223);">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-magic fa-lg"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Beauty Salon</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar" *ngFor="let menu of menuItems">
            <li class="nav-item"><a class="nav-link" routerLink="{{menu.link}}" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="{{menu.icon}}"></i><span>{{menu.menuName}}</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>