
<div class="wrapper">
    <div class="illustration-container">
            <div class="illustration" style="background-image: url(&quot;assets/img/illustration.jpg&quot;);"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="position-relative flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/beauty-salon.jpg&quot;);">
                                    <div class="dark-layer"></div>
                                    <div class="beauty-salon-text-container d-flex justify-content-center align-items-center flex-column">
                                        <p class="beauty-text">BEAUTY </p>
                                        <p class="salon-text">SALON</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <p class="text-dark mb-4">Enter your email to get a reset password link</p>
                                    </div>
                                    <div *ngIf="errorWhileSendingEmail!=''" class="alert alert-danger" role="alert">
                                        {{errorWhileSendingEmail}}
                                    </div>
                                    <div *ngIf="emailForm.get('email')?.errors?.['email']" class="alert alert-danger" role="alert">
                                        mail format must be like yourEmail&#64;gmail.com
                                    </div>
                                    <div *ngIf="successMessage!=false" class="alert alert-success" role="alert">
                                        Email sended successfully
                                    </div>
                                    <form class="user" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                                        <div class="mb-3"><input formControlName="email" class="form-control form-control-user" type="email" required id="exampleInputEmail" aria-describedby="emailHelp" placeholder="yourEmail@gmail.com" name="email"></div>
                                        <button class="btn btn-primary d-block btn-user w-100 d-flex justify-content-center align-items-center" style="height: 45px;" type="submit" ng-click="sendEmail()">
                                            <div *ngIf="emailSendingLoading===false">
                                                Send Email
                                            </div>
                                            <div *ngIf="emailSendingLoading===true">
                                                <div class="spinner-border text-light" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </button>
                                    </form>
                                    <div class="text-center"><a class="small" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Already have an account? Login!</a></div>
                                    <div class="text-center"><a class="small" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

