/* You can add global styles to this file, and also import other style files */
html{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
