<div >
  <div id="wrapper">
    <app-sidebar />
     <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-topbar></app-topbar>
        <div class="current-component-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
