.current-component-container{
    height: calc(100vh - 70px);
    z-index: 2;
    position: relative;
    overflow-y: scroll;
}
#content-wrapper{
    overflow: hidden;
}
#content{
    overflow: hidden;
}