<div class="wrapper">
    <div class="illustration-container">
        <div class="illustration" style="background-image: url(&quot;assets/img/illustration.jpg&quot;);"></div>
    </div>
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" >
                        <div class="position-relative flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/beauty-salon.jpg&quot;);background-size: cover;">
                            <div class="dark-layer"></div>
                            <div class="beauty-salon-text-container d-flex justify-content-center align-items-center flex-column">
                                <p class="beauty-text">BEAUTY </p>
                                <p class="salon-text">SALON</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <div *ngIf="errorWhileRegister" class="alert alert-danger" role="alert">
                                Error while registering , please retry
                            </div>
                            <form class="user" [formGroup]="registerForm" (ngSubmit)="register()">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input formControlName="firstName" class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"></div>
                                    <div class="col-sm-6"><input formControlName="lastName" class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Last Name" name="last_name"></div>
                                </div>
                                <div class="mb-3"><input formControlName="email" class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-12 mb-12 mb-sm-12"><input formControlName="password" class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
